*{
    margin:0;
    padding:0;
}
.main{
    display:flex;
}
.main1{
    margin-top: 150px;
    margin-left: 80px;
}
.main1 h1{
    font-size: 54px;
}
.main h3{
    font-size: 32px;
}
.main2{
    height:600px;
    width:400px;
    background: orange;
    margin-left: 20px;
    margin-top: 60px;
}
.main2 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-top: 120px;
    padding-left: 120px;
}
.main2 p{
    color: #fff;
    font-size: 20px;
}
.download{
    margin-top: 50px;
    color: chartreuse;
}
.main22{
    display: inline-flex;
    margin-top: 40px;
    background: ghostwhite;
    height: 120px;
}
.one{
    margin-left: 20px;
}
.two{
    margin-left: 20px;
}
.three{
    margin-left: 20px;
}
.four{
    margin-left: 20px;
}